<div class="container">
  <div class="row mt-3">
    <div class="mx-auto">


      <h2>ユーザー情報</h2>
      <table class="table  table-border-dark">
        <tbody>
          <tr class="row">
            <td class="col-12 text-center" ><%= attachment_image_tag @user, :image, :fill, 60, 60, fallback: "no_image.jpg" %></td>
          </tr>
          <tr class="row">
            <td class="col-12 text-center bg-light">ニックネーム</td>
          </tr>
          <tr class="row">
            <td class="col-12 text-center"><%= @user.handle %></td>
          </tr>
          <tr class="row">
            <td class="col-12 text-center bg-light">アカウントID</td>
          </tr>
          <% @accounts.each do |account| %>
          <tr class="row">
            <td class="col-12 text-center"><%= account.account_name %></td>
          </tr>
          <% end %>
          <tr class="row">
            <td class="col-12 text-center"><%= link_to "追加・編集", accounts_path, class: "btn btn-success" %></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>